
<div{{ attributes }}>
    <div class="promo-slideshow-slides">
        {% for row in rows %}
              
            <div class="item">
                {{ row }}
            </div>
              
        {% endfor %}
    </div>
</div>